<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>wkwebviewtest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B13954E01F6C22A800650D8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B13954F41F6C22A800650D8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B13954FF1F6C22A800650D8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
